@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Globals */

:root {
  -orange: hsl(26, 100%, 55%);
  -pale-orange: hsl(25, 100%, 94%);
  -dark-blue: hsl(220, 13%, 13%);
  -dark-gray-blue: hsl(219, 9%, 45%);
  -gray-blue: hsl(220, 14%, 75%);
  -light-gray-blue: hsl(223, 64%, 98%);
  -white: hsl(0, 0%, 100%);
  -black: hsl(0, 0%, 0%);
  -black-transparent: hsla(0, 0%, 0%, .8);
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'kumbh sans', sans-serif;
}

/* Typography */

p {
  font-size: 16px;
}

/* Layout */

body {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column;
}

.product-carousel {
  min-height: 250px;
  min-width: 50%;
  background-color: var(--pale-orange);
}

@media screen and (min-width: 650px) {
  main {
    flex-flow: row;
  }

  .product-carousel {
    width: 100%;
  }

  header nav ul {
    display: flex;
    flex-flow: row;
    gap: 1rem;
  }
}

/* Footer */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
