@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Globals */

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-gray-blue: hsl(219, 9%, 45%);
  --gray-blue: hsl(220, 14%, 75%);
  --light-gray-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-transparent: hsla(0, 0%, 0%, .8);

  --pad-small: max(1rem, 3vw);
  --pad-large: max(1.6rem, 6vw);
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'kumbh sans', sans-serif;
}

/* Page Layout */

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: var(--pad-small);
  padding: 0 var(--pad-small) var(--pad-small);
  margin: auto;
}

header,
main,
footer {
  max-width: 1440px;
}

main {
  display: flex;
  flex-flow: column;
}

.product-carousel {
  min-width: 50%;
}

@media screen and (min-width: 650px) {
  main {
    flex-flow: row;
  }

  .product-carousel {
    width: 100%;
    padding: var(--pad-large);
  }

  .product-information {
    padding: var(--pad-large);
  }
}

/* Header */

header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.site-logo a img {
  transition: .1s ease-out;
}

.site-logo a:focus img,
.site-logo a:hover img {
  filter: drop-shadow(0 0 1rem var(--orange));
}

header ul {
  margin: 0;
}

header li {
  list-style: none;
}

.user-menu {
  margin-left: auto;
}

.user-menu__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.user-menu__cart,
.user-menu__avatar {
  width: 1.2rem;
}

@media screen and (min-width: 650px) {
  header {
    border-bottom: solid 1px var(--gray-blue);
  }

  header nav ul {
    display: flex;
    flex-flow: row;
    gap: 1rem;
  }

  .user-menu__avatar {
    width: 3rem;
  }
}

/* Navigation Menu */

@media screen and (min-width: 650px) {
  .site-navigation__items li {
    display: block;
    padding: var(--pad-small) 0 var(--pad-small);
    margin-bottom: 0;
  }

  .site-navigation__items a:link,
  .site-navigation__items a:visited {
    color: var(--dark-gray-blue);
    text-decoration: none;
    transition: .3s ease-in;
    background-image: linear-gradient(90deg, var(--orange) 0 50%, var(--white) 50% 100%);
    background-size: 12rem 5px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .site-navigation__items a:hover,
  .site-navigation__items a:focus {
    color: var(--dark-blue);
    background-position: bottom left;
  }
}

/* border-bottom: solid 5px var(--orange); */

/* Product Carousel */

.product-carousel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-carousel img {
  width: 100%;
}

.product-carousel ul {
  padding: 0;
  margin: 0;
}

.product-carousel li {
  list-style: none;
  border-radius: .6rem;
  overflow: clip;
  line-height: 0;
}

.carousel-big {
  width: 0;
  height: 0;
}

.carousel-big.show {
  width: 100%;
  height: auto;
}

.carousel-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.carousel-thumb {
  transition: .1s ease-out;
}

.carousel-thumb.active {
  outline: solid 4px var(--orange);
}

.carousel-thumb.active img {
  filter: opacity(.5);
}

.carousel-thumb:hover,
.carousel-thumb:focus {
  filter: opacity(.5);
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .carousel-menu {
    display: none;
  }
}

/* Product Information */

.product-information h1 {
  font-size: clamp(1.5rem, calc(.5rem + 2.5vw), 3rem);
  line-height: 1.1em;
  font-weight: 700;
}

.product-information * {
  margin: 1rem 0 1rem;
}

.product-information p {
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--dark-gray-blue);
}

.product-information__brand {
  text-transform: uppercase;
  color: var(--orange);
  font-size: .7rem;
  letter-spacing: .15rem;
}

/* Pricing */

.pricing {
  display: flex;
  gap: 0 1rem;
  align-items: center;
  font-weight: 700;
  font-size: .9rem;
  flex-wrap: wrap;
}

.pricing__price-current {
  font-size: clamp(1.2rem, calc(.5rem + 2.5vw), 2rem);
  line-height: 1em;
}

.pricing__discount {
  color: var(--orange);
  background-color: var(--pale-orange);
  padding: .4rem;
  border-radius: .4rem;
  height: 100%;
}

.pricing__price-old {
  color: var(--gray-blue);
  text-decoration: line-through;
  margin-left: auto;
}

@media screen and (min-width: 375px) {
  .pricing__price-old {
    width: 100%;
  }

  .pricing * {
    margin: .3rem 0;
  }
}

/* Purchase Buttons */

.purchase {
  font-display: flex;
  flex-direction: column;
}

.purchase * {
  padding: 1rem;
  font-weight: 700;
  border: none;
  width: 100%;
}

.purchase-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--light-gray-blue);
  border-radius: .6rem;
  padding: 0;
}

.purchase-number > * {
  margin: 0;
  background: none;
  transition: .1s ease-in;
}

.purchase-number button {
  width: min-content;
}

.purchase-number img {
  padding: 0;
  margin: 0;
  width: 1rem;
}

.purchase-number__display {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  border: none;
  flex-grow: 100;
}

.purchase-number__display::-webkit-inner-spin-button, 
.purchase-number__display::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.purchase-number__adjust:hover,
.purchase-number__adjust:focus {
  transform: scale(1.2);
  filter: brightness(1.2);
  cursor: pointer;
}

#add-to-cart {
  color: var(--white);
  font-size: 1rem;
  background-color: var(--orange);
  box-shadow: 0 1rem 1rem var(--pale-orange);
  cursor: pointer;
  transition: .1s ease-in;
  border-radius: .6rem;
}

#add-to-cart:hover,
#add-to-cart:focus {
  transform: scale(1.01);
  filter: brightness(1.05);
  box-shadow: 0 1rem 1rem hsla(0, 0%, 0%, .1),
              0 1rem 1rem var(--pale-orange);
}

#add-to-cart:active {
  box-shadow: inset 0 1rem 1rem hsla(0, 0%, 0%, .1),
              0 .5rem .5rem hsla(0, 0%, 0%, .1),
              0 1rem 1rem var(--pale-orange);
}

#add-to-cart::before {
  content: '';
  background: url('images/icon-cart.svg') left center no-repeat;
  padding-right: 2.5rem;
  filter: brightness(1000%);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
