@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Globals */

:root {
  -orange: hsl(26, 100%, 55%);
  -pale-orange: hsl(25, 100%, 94%);
  -dark-blue: hsl(220, 13%, 13%);
  -dark-gray-blue: hsl(219, 9%, 45%);
  -gray-blue: hsl(220, 14%, 75%);
  -light-gray-blue: hsl(223, 64%, 98%);
  -white: hsl(0, 0%, 100%);
  -black: hsl(0, 0%, 0%);
  -black-transparent: hsla(0, 0%, 0%, .8);
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'kumbh sans', sans-serif;
}

/* Typography */

p {
  font-size: 16px;
}

/* Footer */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
